<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Like me!</h1>
  <p>Like me on facebook,please:-)</p>
  <p><a href="https://www.facebook.com/zhangjingqiang" class="btn primary large">Like &raquo;</a></p>
</div>
